---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Micro Storage">
  <div class="text-neutral-800 min-h-screen bg-gradient-to-tl from-cyan-100 to-pink-50"
    <div class="container mx-auto">
      <div class="flex justify-center pt-10">
        <img src="/logo-light.png" alt="logo" width="500" class="text-center"/>
      </div>
      <div class="mt-20 text-center ">
        <div class="text-[140px] font-elegant leading-tight">Cloud Storage</div>
        <div class="text-[50px] inline-block mr-5">powered by</div>
        <div class="font-thick text-[60px] inline-block"> NFT Subscriptions</div>
      </div>
      <div class="mt-20 text-center text-[32px] text-neutral-950">Only pay for the storage
        you need. <br/>
        Subscriptions
        starting
        at $0.011 per
        day.
      </div>

      <div class="text-center font-elegant">
        <a href="/app"
           class="dark-shadow bg-neutral-100 rounded-2xl font-bold text-2xl inline-block px-10 py-3 border border-neutral-800 mt-10">Get
          Started</a>
        <a href="/docs"
           class="ml-10 bg-neutral-100 dark-shadow rounded-2xl font-bold text-2xl inline-block px-10 py-3 border border-neutral-800 mt-10">Docs</a>
      </div>
    </div>

    <div class="pt-32 text-center border-t-2 border-neutral-800">
      <div class="font-elegant text-8xl mb-32">How it works</div>
      <div class="container mx-auto">
        <div class="grid grid-cols-3 gap-8">
          <div class="text-xl text-center">
            <i class="fa-brands fa-bitcoin text-6xl"/>
            <div class="text-3xl px-5 py-[20px]">Pay with Crypto</div>
            <div>
              Pay for your subscription with crypto. Increase and decrease your storage limit as
              needed. Unsubscribe at any time and receive a refund for remaining time.
            </div>
          </div>
          <div class="text-xl text-center">
            <span class="fas font-elegant text-2xl border-2 rounded-[40px] p-3 bg-neutral-800 text-neutral-100">
              NFT
            </span>
            <div class="text-3xl px-5 py-[20px]">NFT Subscriptions</div>
            <div>
              Your subscription is represented by an NFT with an expiration date, making it completely managed on the blockchain.
            </div>
          </div>
          <div class="text-xl text-center">
            <i class="fas fa-file-word text-3xl bg-neutral-800 text-neutral-100 w-[60px] h-[60px] p-3 rounded-[40px]"/>
            <div class="text-3xl px-5 py-[20px]">Document Storage</div>
            <div>
              Create and edit rich text documents or diagrams right in the app. Or upload any file type.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-20 pt-32 border-t-2 border-neutral-800">
      <div class="container mx-auto">
        <div class="font-elegant text-8xl mb-32 text-center">Features</div>
        <div class="grid grid-cols-2 gap-8">

          <div class="text-xl rounded-3xl border-2 border-neutral-800 items-center">
            <div class="border-b-2 border-neutral-800 flex items-center px-10 py-3">
              <i class="fas fa-file-word text-4xl border-neutral-800 border-dashed"/>
              <div class="text-3xl px-5 py-[10px] ml-4 ">Create rich documents</div>
            </div>
            <div class="px-5 py-3">
              <div class="text-4xl mb-5">
                Example Design
              </div>
              <div class="text-3xl mb-4">
                Requirements
              </div>
              <div class="ml-5">1. User can use markdown shortcuts</div>
              <div class="ml-5">2. User can use code snippets</div>

              <div class="text-3xl my-4">Technical Design</div>

              <div class="px-5 py-3 border rounded-xl bg-neutral-700 text-neutral-200">
                <div>const a = 1;</div>
                <div>const b = 2;</div>
                <div>const c = a + b;</div>
              </div>
            </div>
          </div>

          <div class="text-xl rounded-3xl border-2 border-neutral-800 items-center">
            <div class="border-b-2 border-neutral-800 flex items-center px-10 py-3">
              <i class="fas fa-diagram-project text-4xl border-neutral-800 border-dashed"/>
              <div class="text-3xl px-5 py-[10px] ml-4 ">Create diagrams</div>
            </div>
            <div class="px-5 py-3">
              <img src="/diagram.png" class="mx-auto"/>
            </div>
          </div>


        </div>

        <div class="mt-10 text-xl rounded-3xl border-2 border-neutral-800 items-center">
          <div class="border-b-2 border-neutral-800 flex items-center px-10 py-3">
            <i class="fas fa-file-upload text-4xl border-neutral-800 border-dashed"/>
            <div class="text-3xl px-5 py-[10px] ml-4 ">Drag and drop to upload any file</div>
          </div>
          <div class="px-14 py-10 flex text-[90px] gap-12">
            <i class="fa-solid fa-file-pdf"/>
            <i class="fa-solid fa-file-excel"/>
            <i class="fa-solid fa-file-zipper"/>
            <i class="fa-solid fa-file-powerpoint"/>
            <i class="fa-solid fa-file-image"/>
            <i class="fa-solid fa-file-code"/>
            <i class="fa-solid fa-file-video"/>
            <i class="fa-solid fa-file-audio"/>
          </div>
        </div>

      </div>
    </div>

    <footer class="bg-neutral-800 text-neutral-200">
      <div class="footer-content py-28 mt-28 container mx-auto">

        <div class="footer-section footer-logo">
          <img src="/logo-dark.png" alt="logo" width="400" class="text-center"/>

          <div class="flex ml-20 gap-5 mt-10">
            <a href="https://twitter.com/RandomBitsDev" class="mr-5">
              <i class="fab fa-twitter text-4xl"/>
            </a>
            <a href="https://discord.gg/drHPTNuk">
              <i class="fab fa-discord text-4xl"/>
            </a>
            <a href="https://github.com/randombits-dev/micro-storage" class="ml-5">
              <i class="fab fa-github text-4xl"/>
            </a>
          </div>

        </div>
        <div class="footer-section">
          <div class="footer-section-title">Docs</div>
          <a href="/docs/intro">Intro</a>
          <a href="/docs/2-getting-started">Getting Started</a>
          <a href="/docs/3-using">Using the app</a>
          <a href="/docs/4-managing">Managing your subscription</a>
          <a href="/docs/5-contracts">Contracts</a>
          <a href="/docs/8-technical">Technical Overview</a>
          <a href="/docs/9-roadmap">Roadmap</a>
        </div>
        <div class="footer-section">
          <div class="footer-section-title">Contact</div>
          <a href="https://twitter.com/RandomBitsDev">Twitter (X)</a>
          <a href="https://discord.gg/drHPTNuk">Discord</a>
          <a href="https://github.com/randombits-dev/micro-storage">Github</a>
        </div>
      </div>

    </footer>

</Layout>

<style>
  html, body {
    font-family: 'Edu SA Beginner', sans-serif;
  }

  .dark-shadow {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, #171717 4px 6px 0px 0px, #171717 0px 6px 0px 0px;
  }

  .dark-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, #171717 2px 4px 0px 0px, #171717 0px 4px 0px 0px;
  }

  .font-elegant {
    font-family: 'Poiret One', sans-serif;
  }

  .font-thick {
    font-family: 'Londrina Solid', cursive;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 16px;
  }

  .footer-section {
    padding: 10px 20px;
  }

  .footer-section-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .footer-section a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .footer-section a:hover {
    text-decoration: underline;
  }

</style>
